extends ../../layouts/default

block head
  title Digital Amati Project Console

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
    include ./console.html
